
body {
    background-color: #ffffff;
    background-image:url("Bg4.jpg");
    background-size: 1920px;
}

div0
{
    font-style: italic;
    font-size: 30px;
    background-color: royalblue;
    
}
footer
{
    color: mediumvioletred;
    background-color: azure;
}
    table, th, td {
        border: 1px solid black;
        border-color: red;
      }
.attributes
{
  float:left;
}
      .points {
        width: 50%%;
        padding-left: 15px;
        margin-left: 15px;
        float: left;
        font-style: italic;
        background-color:#ADD8E6
      }
.Newsheadlines
{
    
  border: 5px solid blue;
  padding: 0px;
  margin: 25px;
  margin-right: 100px;
  margin-left: 650px;
  background-color: lightblue;
}
.attributes
{
  font-size: 40px;
  font-style: oblique;
  background-color: salmon;
}
.next
{
  float:right;
  background-color: silver;
  padding-left: 50px;
  padding-right: 50px;
padding-bottom: 50px;
}
iframe
{
  float:right;
  padding-left: 100px;
}
#mytable
{
      width: 50%%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color:Yellow;
    
  }
}
