
body {
    background-color: white;
}

div0
{
    font-style: italic;
    font-size: 30px;
    
}

footer
{
    color: mediumvioletred;
    background-color: azure;
}
table, th, td {
        border: 1px solid black;
      }
